
# Ignore some folders for now 
projects/ 
tutorials/advanced\ concepts/ 
tutorials/design\ pattern/ 
tutorials/machine\ learning/ 
tutorials/data\ structure/sorting/
tutorials/data\ structure/graph/production/test.py



